<head>
  <title>ログイン用ページ</title>
</head>
<div class="toptop"></div>

<%= link_to "ログイン", :controller => "kanris", :action => "new"  %>
<%= link_to 'トップページ', :controller => "kanris", :action => "top" %>

<div class="font">
  <script type="text/javascript" src="https://minmoji.ucda.jp/sealjs/https%3A__iroworld.herokuapp.com_" charset="UTF-8"></script>
</div>