<%= stylesheet_link_tag 'about', :media => "all" %>


<div class="toptop"></div>

<br><h1>「いろ～世界を知ろうとは～」</h1>
<div>
    <br>このサイトはマイノリティに関するサービスを発信する企業や団体を紹介するサイトです。
</div>

<div class="about-container">
    <div class="about-left">
        <div class="about-image">
             <%= image_tag 'iroiro.jpg' %>
        </div>
    </div>
    <div class="about-body">
        <h3>サイトの運営目的</h3>

        <br>１．自分の持つマイノリティによって悩んでいる人が
        <br>新しい選択肢を見つけられる場所をつくる
        <br>
        <br>２．すべての人が多様な人の在り方を知ることができる
        <br>
        <br>３．関心を抱いている領域のマイノリティだけではなく、
        <br>様々な領域のマイノリティについて触れる機会をふやす
        <br><br>いつかマイノリティという言葉自体がなくなるように、
        <br>多様な人のあり方を知ることができる場を創造していきます。

        <br><br>ご用のある方は本サイト「問い合わせ」あるいは、
        <br>下記URLの「Twitter」にご連絡ください。
        <br><br>URL：<%= text_url_to_link(h("https://twitter.com/YasudaMaria1")).html_safe %>
    </div>
</div>

<div class="a-right">
   <%= link_to 'トップページへ戻る', :controller => "kanris", :action => "top" %>
</div>


<div class="font">
  <script type="text/javascript" src="https://minmoji.ucda.jp/sealjs/https%3A__iroworld.herokuapp.com_" charset="UTF-8"></script>
</div>

