<head>
  <title>いろ</title>
  <%= stylesheet_link_tag 'asobi', :media => "all" %>
</head>

<body id="asobody">
  <div class="bg_pattern Polka_v2"></div>
  <div class="aso-body">
    <div class="iroiro-c">
      <h1 class="iroiroiro">使い方いろいろ</h1>
    </div>
    <div class="section-div">
      <nav><a href="#iro1-container" class="section-a">＃当事者向け</a></nav>
      <nav><a href="#iro2-container" class="section-a">＃支援者向け</a></nav>
      <nav><a href="#iro3-container" class="section-a">＃全人類向け</a></nav>
    </div>


    <div class="a-top">
      <a class="topshow" href="/top/">トップページへ</a>
    </div>


    <section id="iro1-container">
      <div class="iro1-m">
        <h3>自分の困っていることについてどんな選択肢があるのか探す。</h3>
      </div>
      <div class="iro1-t">
        そもそも自分がどんな状況であるのか、<br>
        気持ちを共有できる場所はどこか、<br>
        新しい選択肢がないか、<br>
        自分らしく生きるために必要なことを探せます。<br> 
      </div>
    </section>
 

    <section id="iro2-container">
      <div class="iro2-m">
        <h3>マイノリティを持つ知り合いの困っていることを理解することに用いる。</h3>
      </div>
      <div class="iro2-t">
        身近で困っている人にどう声を掛けたらいいんだろう。<br>
        相手を嫌な気持ちにさせないだろうか。と考えて行動に移せない。<br>
        それは相手のことをよくわかっていないからかもしれません。<br>
        相手のことを知って、困っているときにお互いが協力できるような関係を築いて聞きましょう。<br>
      </div>
    </section>
  
    <section id="iro3-container">
      <div class="iro3-m">
        <h3>すべての人が過ごしやすい社会を創造しよう。<br></h3>
      </div>
      <div class="iro3-t">
        あなたは恋愛感情を抱かない人がいることを知っていますか。<br>
        「アロマンティック」というセクシャリティもつ人です。<br>
        「学校生活で恋愛や結婚の話についていけず、肩身が狭い思いをした」<br>
        「恋バナ」で嫌な思いをする人がいると考えたことはあったでしょうか。<br>
  
        他の領域でも同じことが言えます。<br>
        知ることができれば、気を付けることができます。<br>
        あなたの知らない世界を今からでも知っていきましょう。<br>
      </div>
    </section>

    <div class="a-top">
      <a class="topshow" href="/top/">トップページへ</a>
    </div>

    <div class="font">
      <script type="text/javascript" src="https://minmoji.ucda.jp/sealjs/https%3A__iroworld.herokuapp.com_" charset="UTF-8"></script>
    </div>

  </div>
  
</body>