<head>
  <title>お問い合わせ完了</title>
  <%= stylesheet_link_tag 'contacts', :media => "all" %>
</head>

<div class="toptop"></div>

<h3>送信が完了しました</h3>

<div class="a-right">
  <a class="showshow" href="/top/">トップページへ</a>
</div>

<div class="font">
  <script type="text/javascript" src="https://minmoji.ucda.jp/sealjs/https%3A__iroworld.herokuapp.com_" charset="UTF-8"></script>
</div>