// Place all the styles related to the hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    font-family: minmoji;
}

.font {
    text-align: right;
    margin-top: auto;
}

.font {
    text-align: right;
    margin-top:20px ;
}