// Place all the styles related to the kanris controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@font-face {
    font-family: minmoji;
    src: url('https://minmoji.ucda.jp/fontseot/https%3A__iroworld.herokuapp.com_');
    src: local('minmoji'),
        url('https://minmoji.ucda.jp/fontswoff/https%3A__iroworld.herokuapp.com_') format('woff'),
        url('https://minmoji.ucda.jp/fonts/https%3A__iroworld.herokuapp.com_') format('opentype');
}

body {
    font-family: minmoji;
}

.font {
    text-align: right;
    margin-top: auto;
}

.font {
    text-align: right;
    margin-top: 20px;
}

.preview {
    height: 250px;
    width: 250px;
    object-fit: contain;
}