.genre-ct {
    font-size: 20px;
    margin-top: 5px;
    border: solid 5px #4dc4ff;
    width:fit-content;
    font-weight: bold;    
    border-radius: 25px;   
}

.show-container {
    height: auto;
    margin: 10px;
}

@media screen and (min-width: 770px) {
    .show-container {
        display: flex;
    }

    .show-left {
        margin: 10px;
    }
    .show-body {
        margin: 10px;
    }
}


.show-left {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.show-image {  
    max-height:100%;
    max-width:600px;
    width: auto;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-top: 60%;
}

.show-image img {   
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%, -50%);
}

.show-body {
    width:100%;
}

.show-url  {
    margin-top: 10px;
    width:fit-content;
    border: solid 2px #03af7a;    
}

.a-right {
    text-align: right;
}

@font-face {
    font-family: minmoji;
    src: url('https://minmoji.ucda.jp/fontseot/https%3A__iroworld.herokuapp.com_');
    src: local('minmoji'),
        url('https://minmoji.ucda.jp/fontswoff/https%3A__iroworld.herokuapp.com_') format('woff'),
        url('https://minmoji.ucda.jp/fonts/https%3A__iroworld.herokuapp.com_') format('opentype');
}

body {
    font-family: minmoji;
}


.font {
    text-align: right;
    margin-top: 20px;
}

